{% extends "layout_login.html" %}

{% block login_title %}
{% endblock %}

{% block login_content %}
<div class="card-body pt-1">
    <a href="{{ url_for('auth.saml') }}" title="{{ gettext('Login using Single Sign On') }}" class="btn btn-primary link w-100">Kirjaudu Sisään - Login</a>
</div>

<div class="card-footer bg-white border-0 text-muted small">
    <p>Palveluun kirjaudutaan organisaatiosi Microsoft-tunnuksilla. Jos sinulla on vaikeuksia kirjautumisen kanssa, ota yhteyttä organisaatiosi IT-tukeen.</p>
    <p>If you have trouble logging in, please contact your own IT support.</p>
</div>
{% endblock %}